body.dark .os-viewport {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  body {
    background-position: unset;
  }
}

.ui.inverted.segment,
#dream-search.inverted .results {
  background-color: #333;
}

.dream-nav.fixed {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%) !important;
}

.ui.attached.segment.dream-card {
  border: none;
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%); /* Bulma Box */
}

.dream-back .ui.segment,
.ui.segment.dream-posts-section,
.ui.segment.dream-categories-section,
.ui.segment.dream-tags-section,
.dream-single-aside .ui.segment,
.ui.segment.post-disqus-area,
.ui.segment.utterances-comments {
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

.ui.segment.toc {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  float: right;
}

.dream-single .ui.segment {
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

body.dark .markdown-body .highlight pre {
  background: #222 !important;
}

.post-copyright {
  background: var(--yanyu-card-bg);
  padding: 1rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin: 2rem 0px 0.5rem;
  border-radius: 12px;
}

.post-copyright .anzhiyufont.anzhiyu-icon-copyright {
  position: absolute;
  font-size: 1.3em;
  top: -71px;
  right: -20px;
  font-size: 8.3em;
  z-index: -1;
}

#post .post-copyright__author {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.post-copyright__original,
.post-copyright__reprint {
  background: var(--yanyu-fontcolor);
  color: var(--yanyu-card-bg);
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post-copyright .anzhiyufont.anzhiyu-icon-copyright {
  position: absolute;
  font-size: 1.3em;
  top: -71px;
  right: -20px;
  font-size: 8.3em;
  z-index: -1;
}
@media screen and (min-width: 1365px) {
   .post-copyright .anzhiyufont.anzhiyu-icon-copyright {
    z-index: 0;
  }
}
.post-copyright:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
  box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
}
.post-copyright .post-copyright-meta {
  color: #3b70fc;
  font-weight: bold;
}
.post-copyright .post-copyright-info {
  padding-left: 6px;
}
.post-copyright .post-copyright-info a {
  word-break: break-word;
}
.post-copyright .post-copyright-info a:hover {
  text-decoration: none;
}
.post-copyright .post-copyright__type {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.post-copyright .post-copyright__type .copy-button {
  background: var(--yanyu-card-bg);
  border: var(--style-border);
  color: var(--yanyu-fontcolor);
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 38px;
  height: 28px;
  margin-left: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.post-copyright .post-copyright__type .copy-button:hover {
  background: var(--yanyu-theme);
  border-color: var(--yanyu-theme);
  color: var(--yanyu-white);
}
.post-outdate-notice {
  position: relative;
  margin: 0 0 20px;
  padding: 0.5em 1.2em;
  border-radius: 3px;
  background-color: #ffe6e6;
  color: #f66;
  padding: 0.5em 1em 0.5em 2.6em;
  border-left: 5px solid #ff8080;
}
.post-outdate-notice:before {
  content: '\f071';
  position: absolute;
  top: 50%;
  left: 0.9em;
  color: #ff8080;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

