<!-- <div class="post-copyright">
  <i class="anzhiyufont anzhiyu-icon-copyright" style="color: rgba(52, 109, 219,0.45)"></i>
  <div class="post-copyright__author">
    <a class="post-copyright__original" title="该文章为原创文章，注意版权协议" href="https://www.yanyuplus.cn/posts/d28bc73885cb.html" data-pjax-state>原创 </a>
    <a class="post-copyright-title" data-pjax-state="">
      <span>{{ .Title }}</span>
    </a>
  </div>
  <div class="post-copyright-info-box">
    <span class="post-copyright-meta">文章作者: </span>
    <span class="post-copyright-info"></span>
    {{ if isset .Params "author" }}
      {{ if isset .Params "authorlink" }}
        <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a> 
      {{ else }}
        {{ .Params.author }}
      {{ end }}
    {{ else }}
      {{ .Site.Params.author }}
    {{ end }}
  </div>
  <div class="post-copyright__type">
    <span class="post-copyright-meta">文章链接: </span>
    <span class="post-copyright-info">
      <a class="link" href="{{ .RelPermalink }}" data-pjax-state="">{{ .Permalink }}</a>
      
    </span>
    <span class="copy-button" onclick="rm.copyPageUrl('{{ .RelPermalink }})'">
      <i class="anzhiyufont anzhiyu-icon-copy"></i>
    </span>
  </div>
  <div class="post-copyright__notice">
    <span class="post-copyright-meta">版权声明: </span>
    <span class="post-copyright-info">本博客所有文章除特别声明外，均采用 
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明来自 
      <a href="{{ .Params.authorlink }}" target="_blank">
        {{ if isset .Params "author" }}
      {{ if isset .Params "auth" }}
        <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a> 
      {{ else }}
        {{ .Params.author }}
      {{ end }}
    {{ else }}
      {{ .Site.Params.author }}
    {{ end }}
      </a>
    </span>
  </div>
</div> -->

<div class="content" id="content">
  <div style="margin-top:2em;padding:0 0.5em;font-size:.875rem">
    <hr>
    <div style="padding-bottom:1em;">
      <p>作者:  
      {{ if isset .Params "authorlink" }}
        <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a> 
      {{ else }}
        {{ .Params.author }}
      {{ end }}
    
            
          </p>
          <p>文章链接: <a href="{{ .RelPermalink }}" target="_blank">{{ .Permalink }}</a></p>
        <p>版权声明: 本博客所有文章除特别声明外，均采用 
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明来自 
     
        {{ if isset .Params "author" }}
      {{ if isset .Params "authorlink" }}
        <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a> 
      {{ else }}
        {{ .Params.author }}
      {{ end }}
    {{ else }}
      {{ .Site.Params.author }}
    {{ end }}。 
        </p>
        </div>
  </div>
</div>

