<script>
  window.background = {{ .Site.Params.background }}
  window.defaultDark = {{ .Site.Params.defaultDark }}
  window.backgroundDark = {{ .Site.Params.backgroundDark }}
  window.backgroundImageDark = {{ .Site.Params.backgroundImageDark }}
  window.darkNav = {{ .Site.Params.darkNav }}
  window.maxTags = {{ .Site.Params.maxTags }}
  window.hasTwitterEmbed = {{ .Site.Params.hasTwitterEmbed }}
  window.fixedNav = {{ .Site.Params.fixedNav }}

  if (window.hasTwitterEmbed) {
    // https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites
    window.twttr = (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {}
      if (d.getElementById(id)) return t
      js = d.createElement(s)
      js.id = id
      js.src = 'https://platform.twitter.com/widgets.js'
      fjs.parentNode.insertBefore(js, fjs)

      t._e = []
      t.ready = function (f) {
        t._e.push(f)
      }

      return t
    })(document, 'script', 'twitter-wjs')
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/js/jquery.overlayScrollbars.min.js" integrity="sha256-tBd38uWlvgfps3zHPrUb2ePBg+Z8EjMf0QloFONzpvU=" crossorigin="anonymous"></script>
<script src="{{ "/js/header.js" | relURL }}"></script>
<script src="{{ "/js/main.js" | relURL }}"></script>
<script src="{{ "/js/theme.js" | relURL }}"></script>

<!-- 数学公式 Katex 支持 -->
{{ if or .Params.math .Site.Params.math }}
  <script>renderMathInElement(document.body);</script>
{{ end }}

    