<!-- Twikoo -->
<div>
    <div class="pagination__title">
        <span class="pagination__title-h" style="font-size: 20px;">💬 评论</span>

    </div>

    <div id="tcomment"></div>

    <script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.16/dist/twikoo.all.min.js"></script>
    <script>
        twikoo.init({
            envId: "https://twi.pumpkinrice.site/",  //这里填写自己的envId
            el: "#tcomment",
            lang: 'zh-CN',
            region: 'ap-guangzhou',  //我的区域是广州，可以不填，默认是ap-shanghai
            path: window.TWIKOO_MAGIC_PATH||window.location.pathname,
        katex: {
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: true }
            ],
            throwOnError: false
            }
        });
    </script>


</div>
